img[usemap ="#andMapL"]
{
width: 1000px;
}

img[usemap ="#andMapS"]
{
width: 500px;	
}

@media only screen and (max-width 800px){
img[usemap = "#andMapL"]
{
	display:none;
}
}

@media only screen and (min-width 801px){
img[usemap = "#andMapS"]
{
	display:none;
}
}