<h1>{{name}}</h1>

<div id = "sideInfo">
<span style="font-size: 150%"> Name:</span> {{name}}<br>
Gravity: {{Gs}}<br>
Temperature: {{temp}}
</div>
<div id = "main">
Main info here, blah blah blah
</div>